<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>miau - Control Elgato Key Light</title>
  </head>
  <script>
    const lightState = (x) => {
      fetch("/", {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ on: x }),
      }).then(() => location.reload());
    };
  </script>
  <style>
    body {
      align-items: center;
      display: flex;
      flex-flow: column;
      font-family: sans-serif;
      height: 100vh;
      justify-content: center;
      margin: 0;
      padding: 0;
      row-gap: 1rem;
    }

    button {
      font-size: 1.25rem;
      padding: 2rem 4rem;
    }

    dt,
    dd {
      display: inline;
      margin: 0;
    }
  </style>
  <body>
    <button onclick="lightState(1)" {{ if Enabled }}disabled{{ end }}>
      On
    </button>
    <button onclick="lightState(0)" {{ if not Enabled }}disabled{{ end }}>
      Off
    </button>
    <dl>
      <div>
        <dt>Brightness</dt>
        <dd>{{ .Brightness }}%</dd>
      </div>
      <div>
        <dt>Temperature</dt>
        <dd>{{ APIToKelvin .Temperature }}K</dd>
      </div>
    </dl>
  </body>
</html>
