<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>miau - Control Elgato Key Light</title>
  </head>
  <style>
    body {
      align-items: center;
      display: flex;
      flex-flow: column;
      font-family: sans-serif;
      height: 100vh;
      justify-content: center;
      margin: 0;
      padding: 0;
      row-gap: 1rem;
    }

    button[name="on"] {
      font-size: 1.25rem;
      padding: 2rem 4rem;
    }

    div + div {
      margin-top: 1rem;
    }

    dd {
      margin: 0;
    }
  </style>
  <body>
    <form method="post">
      <button type="submit" name="on" value="1" {{ if Enabled }}disabled{{ end }}>
        On
      </button>
      <button type="submit" name="on" value="0" {{ if not Enabled }}disabled{{ end }}>
        Off
      </button>
      <dl>
        <div>
          <dt>Brightness [%]</dt>
          <dd>
            <input type="number" name="brightness" value="{{ .Brightness }}" min="0" max="100" required />
          </dd>
        </div>
        <div>
          <dt>Temperature [K]</dt>
          <dd>
            <input type="number" name="temperature" value="{{ APIToKelvin .Temperature }}" min="3000" max="7000" step="50" required />
          </dd>
        </div>
      </dl>
      <button type="submit">Update</button>
    </form>
  </body>
</html>
